units:
  p: 2
  px: u+p
  o: 0.5px
points:
  key.tags:
    - key
  zones:
    matrix:
      anchor:
        shift: [150, -150] # Fix KiCad placement
      columns:
        pin:
          key:
        ri:
          key:
            stagger: u
        mi:
          key:
            stagger: u/4
        ind:
          key:
            stagger: -u/2
        inn:
          key:
            stagger: -u/4
      rows:
        bo:
        ho:
        to:
    thumbfan:
      anchor:
        ref: matrix_inn_bo
        shift: [-u,-u]
      columns:
        ind:
        inn:
          key.rotate: -15
          key.stagger: -u/8
          key.spread: 22
        far:
          key.rotate: -30
          key.stagger: -u/2
          key.spread: 21
      rows:
        th:
    mcu:
      key.tags:
        - helper
        - mcu
      anchor:
        - ref: matrix_inn_to
          shift: [u+2, -u/2+p+1]

    screw_1:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_pin_bo
          - ref: matrix_ri_bo
    screw_2:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_ri_ho
          - ref: matrix_mi_to
    screw_3:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: thumbfan_far_th
          - ref: thumbfan_inn_th
        shift: [0,u/2]
    screw_4:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_inn_to
          - ref: matrix_inn_ho
        shift: [u/2-2,0]
    screw_5:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_ind_bo
        shift: [-u/2,-u/2]



outlines:
  _raw:
    - what: rectangle
      where: true
      size: [u, u]
  _keys:
    - what: rectangle
      where: [key]
      size: 18
      fillet: 3
  _board:
    - what: polygon
      operation: stack
      points:
        - ref: matrix_pin_to
          shift: [-o, o]
        - ref: matrix_pin_bo
          shift: [-o, -o]
        - ref: matrix_pin_bo
          shift: [3o, -o]
        - ref: thumbfan_ind_th
          shift: [-o,-o]
        - ref: thumbfan_far_th
          shift: [-o,-o]
        - ref: thumbfan_far_th
          shift: [o,-o]
        - ref: thumbfan_far_th
          shift: [o,o]
        - ref: mcu
          shift: [o,-5o]
        - ref: mcu
          shift: [o, o+4.5+p]
        - ref: matrix_inn_to
          shift: [-o+p, o]
        - ref: matrix_ind_to
          shift: [o,o]
        - ref: matrix_ind_to
          shift: [-o+p,o]
        - ref: matrix_mi_to
          shift: [o,o]
        - ref: matrix_mi_to
          shift: [-o,o]
        - ref: matrix_ri_to
          shift: [o-p,o]
        - ref: matrix_ri_to
          shift: [-o,o]
        - ref: matrix_pin_to
          shift: [o-p,o]
        
      fillet: 2
  _screws:
    - what: circle
      where: [screw]
      radius: 4.3/2
  preview:
    - what: outline
      name: _board
      operation: stack
    - what: rectangle
      where: [mcu]
      size: [18,33]
    - what: outline
      name: _screws
      operation: stack
    - what: outline
      name: _keys
      operation: stack



pcbs:
  null36:
    template: kicad8
    outlines:
      main:
        outline: _board
    footprints:
      keys:
        what: ceoloide/switch_mx
        where: [key]
        params:
          from: "{{colrow}}"
          to: "{{col.name}}"
          reversible: true
          hotswap: true
      diodes:
        what: ceoloide/diode_tht_sod123
        where: /key/
        params:
          from: "{{colrow}}"
          to: "{{row}}"
          reversible: true
        adjust:
          shift: [5.7,-3]
          rotate: 180
      screen:
        what: ceoloide/display_ssd1306
        where: mcu
        params:
          reversible: true
          side: "F"
          SDA: DA
          SCL: CL
        adjust:
          shift: [0,-4]
      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where: mcu
        params:
          reversible: true
          only_required_jumpers: true
          use_rectangular_jumpers: false
          P10: "th"
          P3: "to"
          P4: "ho"
          P5: "bo"
          P2: "pin"
          P15: "mi"
          P18: "ri"
          P16: "ind"
          P8: "inn"
          P9: "far"
          P6: "DA"
          P7: "CL"
          P14: "CS"
          P19_label: " "
          P20_label: " "
          P21_label: " "
      battery_connector:
        what: ceoloide/battery_connector_jst_ph_2
        where: mcu
        params:
          reversible: true
        adjust:
          shift: [-5,-30]
          rotate: 90
      on_off_switch:
        what: ceoloide/power_switch_smd_side
        where: mcu
        params:
          from: BAT_P
          to: RAW
          reversible: true
        adjust:
          shift: [5+p, -30-3u/4]
      reset_switch:
        what: ceoloide/reset_switch_tht_top
        where: mcu
        params:
          reversible: true
        adjust:
          shift: [7,-30]
          rotate: 90
      m2_screws:
        what: ceoloide/mounting_hole_npth
        where: [screw]
        params:
          hole_size: 4.6
          hole_drill: 2.2
