units:
  p: 2
  px: u+p
  o: 0.5px
points:
  key.tags:
    - key
  zones:
    matrix:
      anchor:
        shift: [150, -150] # Fix KiCad placement
      columns:
        PIN:
          key:
        RIN:
          key:
            stagger: u
        MID:
          key:
            stagger: u/4
        IND:
          key:
            stagger: -u/2
        INN:
          key:
            stagger: -u/4
      rows:
        BOT:
        HOM:
        TOP:
    thumbfan:
      anchor:
        ref: matrix_INN_BOT
        shift: [-u,-u]
      columns:
        MID:
        IND:
          key.rotate: -15
          key.stagger: -u/8
          key.spread: 22
        INN:
          key.rotate: -30
          key.stagger: -u/2
          key.spread: 21
      rows:
        THU:
    mcu:
      key.tags:
        - helper
        - mcu
      anchor:
        - ref: matrix_INN_TOP
          shift: [u+2, -u/2+p+1]

    screw_1:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_PIN_BOT
          - ref: matrix_RIN_BOT
    screw_2:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_RIN_HOM
          - ref: matrix_MID_TOP
    screw_3:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: thumbfan_INN_THU
          - ref: thumbfan_IND_THU
        shift: [0,u/2]
    screw_4:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_INN_TOP
          - ref: matrix_INN_HOM
        shift: [u/2-2,0]
    screw_5:
      key.tags:
        - helper
        - screw
      anchor:
        aggregate.parts:
          - ref: matrix_IND_BOT
        shift: [-u/2,-u/2]



outlines:
  _raw:
    - what: rectangle
      where: true
      size: [u, u]
  _keys:
    - what: rectangle
      where: [key]
      size: 18
  _board:
    - what: polygon
      operation: stack
      points:
        - ref: matrix_PIN_TOP
          shift: [-o, o]
        - ref: matrix_PIN_BOT
          shift: [-o, -o]
        - ref: matrix_PIN_BOT
          shift: [3o, -o]
        - ref: thumbfan_MID_THU
          shift: [-o,-o]
        - ref: thumbfan_INN_THU
          shift: [-o,-o]
        - ref: thumbfan_INN_THU
          shift: [o,-o]
        - ref: thumbfan_INN_THU
          shift: [o,o]
        - ref: mcu
          shift: [o,-5o]
        - ref: mcu
          shift: [o, o+4.5+p]
        - ref: matrix_INN_TOP
          shift: [-o+p, o]
        - ref: matrix_IND_TOP
          shift: [o,o]
        - ref: matrix_IND_TOP
          shift: [-o+p,o]
        - ref: matrix_MID_TOP
          shift: [o,o]
        - ref: matrix_MID_TOP
          shift: [-o,o]
        - ref: matrix_RIN_TOP
          shift: [o-p,o]
        - ref: matrix_RIN_TOP
          shift: [-o,o]
        - ref: matrix_PIN_TOP
          shift: [o-p,o]
        
      fillet: 2
  _screws:
    - what: circle
      where: [screw]
      radius: 4.3/2
  _keyholes:
    - what: rectangle
      where: [key]
      size: 14
  _mcu:
    - what: rectangle
      where: [mcu]
      size: [18,33]
  plate:
    - name: _board
  screwholes:
    - name: _screws
  layout:
    - what: rectangle
      where: [key]
      size: 18
      fillet: 2
      operation: stack
    - what: outline
      name: _board
      operation: stack
  preview:
    - what: outline
      name: _board
      operation: stack
    - what: rectangle
      where: [mcu]
      size: [18,33]
      operation: stack
    - what: outline
      name: _screws
      operation: stack
    - what: outline
      name: _keys
      operation: stack



pcbs:
  null36:
    template: kicad8
    outlines:
      main:
        outline: _board
    footprints:
      keys:
        what: ceoloide/switch_mx
        where: [key]
        params:
          from: "{{colrow}}"
          to: "{{col.name}}"
          reversible: true
          hotswap: true
      diodes:
        what: ceoloide/diode_tht_sod123
        where: /key/
        params:
          from: "{{colrow}}"
          to: "{{row}}"
          reversible: true
        adjust:
          shift: [5.7,-3]
          rotate: 180
      screen:
        what: ceoloide/display_ssd1306
        where: mcu
        params:
          reversible: true
          SDA: SDA
          SCL: SCL
        adjust:
          shift: [0,-4]
      mcu:
        what: ceoloide/mcu_supermini_nrf52840
        where: mcu
        params:
          P2: "PIN"
          P3: "RIN"
          P4: "MID"
          P5: "IND"
          P6: "INN"
          P7: "TOP"
          P8: "HOM"
          P9: "BOT"
          P10: "THU"
          P16: "SDA"
          P14: "SCL"
      battery_connector:
        what: ceoloide/battery_connector_jst_ph_2
        where: mcu
        params:
          reversible: true
        adjust:
          shift: [-5,-30]
          rotate: 90
      on_off_switch:
        what: ceoloide/power_switch_smd_side
        where: mcu
        params:
          from: BAT_P
          to: RAW
          reversible: true
        adjust:
          shift: [5+p, -30-3u/4]
      reset_switch:
        what: ceoloide/reset_switch_tht_top
        where: mcu
        params:
          reversible: true
        adjust:
          shift: [7,-30]
          rotate: 90
      m2_screws:
        what: ceoloide/mounting_hole_npth
        where: [screw]
        params:
          hole_size: 4.6
          hole_drill: 2.2
